<div class="bootstrap-wrapper">
    <div class="container-fluid mt20">
        <h1>Available Medicines</h1>
        <div class="row mt20" *ngIf="medicines">
            <div class="col-md-4" *ngFor ="let med of medicines">
                <mat-card class="mt20">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{med.name}}</mat-card-title>
                        <mat-card-subtitle>{{med.category.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="truncate">{{med.prodDesc}}</p>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Offers: {{med.offers}}</h6>    
                      </div>
                        <div class="col-md-6">
                            <h6 color="accent"> Price: {{med.price}}</h6>
                        </div>
                    </div>
                   
                    <mat-card-actions>
                        <button mat-flat-button color="accent">Buy</button>
                        <button mat-flat-button color="accent" class="ml20">Add</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <!-- <div class="col-md-12" *ngIf="medicines.length == 0">
                <mat-card>
                    <mat-card-content>
                        <h1>No Medicines available in this category</h1>
                    </mat-card-content>
                </mat-card>
            </div> -->
        </div>
    </div>
</div>
